# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[**{.js, .json}]
indent_style = tab
# usually, when using tabs, let the user configure `tab_width` in their editors.
# tab_width = 4

[*.md]
trim_trailing_whitespace = false
